<!--<section>-->
<!--  <h1>プロフィール</h1>-->
<main>
  <app-profile></app-profile>
  <app-skill></app-skill>
</main>
<aside class="sidebar">
  <h1>Twitter</h1>
  <a class="twitter-timeline" href="https://twitter.com/minase_tetsuya?ref_src=twsrc%5Etfw">Tweets by
    minase_tetsuya</a>
  <!--  <div id="twitter-script"></div>-->
</aside>
<!--</section>-->
<!--<section>-->
<!--  <h1>最近の更新履歴</h1>-->
<!--  <section>-->
<!--    <h1>ブログ</h1>-->
<!--    <ol-component [itemList]="linkList"></ol-component>-->
<!--  </section>-->
<!--  <section>-->
<!--    <h1>Twitter</h1>-->
<!--    <a class="twitter-timeline" href="https://twitter.com/minase_tetsuya?ref_src=twsrc%5Etfw">Tweets by-->
<!--      minase_tetsuya</a>-->
<!--    <div [innerHTML]="sanitizedScript"></div>-->
<!--  </section>-->
<!--</section>-->
