@charset "UTF-8";
@import "../../../common/style/variable";

.top-component__main {
  width: 100%;
}

.top-component__sidebar {
  padding: 0.5em 0.5em 0 2.5em;
  width: 25%;
}


// スマホ用
@media screen and (max-width: $sp-max-width) {
  .top-component__main {
    width: 100%;
  }
  .top-component__sidebar {
    display: none;
  }
}
