<section>
  <h1>最近の更新履歴</h1>
  <section>
    <h1>ブログ</h1>
    <ol>
      <li>
        <article><h1><a href="https://minase-program.hatenablog.com/" target="_blank">記事１</a></h1></article>
      </li>
      <li>
        <article><h1><a href="https://minase-program.hatenablog.com/" target="_blank">記事２</a></h1></article>
      </li>
      <li>
        <article><h1><a href="https://minase-program.hatenablog.com/" target="_blank">記事３</a></h1></article>
      </li>
    </ol>
  </section>
  <section>
    <h1>Twitter</h1>
    <a class="twitter-timeline" href="https://twitter.com/minase_tetsuya?ref_src=twsrc%5Etfw">Tweets by
      minase_tetsuya</a>
    <div [innerHTML]="sanitizedScript"></div>
  </section>
</section>
