@charset "UTF-8";

// color
$black: #333333;
$white: #FFFFFF;
$light-blue: #C6DCFF;
$light-grey: #919191;
$grey200: #e9ecef;

// header
$header-bg-color: #D8FFA9;
$header-font-color: #333;
$header-menu-button-color: #333;
$header-menu-bg-color: #fff;

// profile
$profile-bg-color: #fff;

// links
$links-bg-color: #fff;

// list
$list-link-color: #333;

// radius
$radius: 18px;

// font-size
$font-size: 62.5%;

// icon size
$pc-list-small-icon: 60px;
$sp-list-small-icon: 40px;
$pc-list-large-icon: 101px;
$sp-list-large-icon: 80px;

// window size
// sp縦max width
$sp-max-width: 411px;
// tablet横 min width
$tab-max-width: 959px;
$tab-min-width: 600px;

// 文字消すやつ
.hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
