@charset "UTF-8";

// color
$black: #333333;
$white: #FFFFFF;
$light-blue: #C6DCFF;
$light-grey: #919191;
$grey200: #e9ecef;

// header
$header-bg-color: #448AFF;
$header-font-color: #333;
$header-menu-button-color: #333;
$header-menu-bg-color: #fff;

// profile
$profile-bg-color: #fff;

// links
$links-bg-color: #fff;

// list
$list-link-color: #03c;

// radius
$radius: 18px;

// font-size
$font-size: 62.5%;

// heading
$heading-level-1-pc: 3.2rem;
$heading-level-2-pc: 3rem;
$heading-level-3-pc: 2.8rem;
$heading-level-4-pc: 2.4rem;
$heading-font-black: #333;
$heading-font-white: #ffffff;

// icon size
$pc-list-small-icon: 60px;
$sp-list-small-icon: 40px;
$pc-list-large-icon: 104px;
$sp-list-large-icon: 80px;

// window size
// sp縦max width
$sp-max-width: 411px;
// tablet横 min width
$tab-max-width: 959px;
$tab-min-width: 600px;

// 文字消すやつ
.hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@mixin box {
  min-height: 20rem;
  min-width: 40rem;
  border: 0.05rem solid #979797;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.2rem #333333;

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    min-height: 15rem;
    min-width: 20rem;
    width: 100%;
  }
}
