@charset "UTF-8";

// color
$black: #333333;
$white: #FFFFFF;
$light-blue: #C6DCFF;
$light-green: #D8FFA9;
$light-grey: #919191;
$grey200: #e9ecef;

// radius
$radius: 18px;

// font-size
$font-size: 62.5%;
