@charset "UTF-8";
@import "src/app/common/style/variable";


.list {
  display: inline;
  //margin: 0 0 0 1rem;
  margin-left: 1rem;
}

.list__small-icon {
  height: $pc-list-small-icon;
  width: $pc-list-small-icon;

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    height: $sp-list-small-icon;
    width: $sp-list-small-icon;
  }
}

.list__large-icon {
  height: $pc-list-large-icon;
  width: $pc-list-large-icon;

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    height: $sp-list-large-icon;
    width: $sp-list-large-icon;
  }
}
