@charset "UTF-8";
@import "../../../../common/style/variable";

.profile {
  margin: 0.5em;
}

.profile__detail {
  background-color: $white;
  border-radius: $radius;
  margin: 0.5rem 0 0 0;
  padding: 1.6rem;
}

.profile__value {
  font-size: 1.6rem;
  margin: 0.5rem 0 0 0.5rem;
}

.profile__link {
  margin: 1rem 0 0 0;
}

.profile__list {
  margin: 0.5rem 0 0 0.5rem;
}
