@charset "UTF-8";
@import "../../../../common/style/variable";

.profile {
  margin: 0.5em;

  &__detail {
    background-color: $white;
    border-radius: $radius;
    margin: 0.5rem 0 0 0;
    padding: 1.6rem;

    &__name {
      &__value {
        font-size: 1.6rem;
        margin: 0.5rem 0 0 0.5rem;
      }
    }

    &__link {
      margin: 1rem 0 0 0;

      &__list {
        margin: 0.5rem 0 0 0.5rem;
      }
    }
  }
}
