@charset "UTF-8";
@import "../../../../common/style/variable";

.profile {
  margin: 2rem 0.5rem 0.5rem 0.5rem;
}

.profile__title {
  width: 100%;
}

.profile__wrapper {
  display: flex;
}

.profile__detail {
  margin: 1rem 0 0 1rem;
  @include box;
}

.profile__value {
  font-size: 2rem;
  margin: 0.5rem 0 0 0.5rem;
  // for sp
  @media screen and (max-width: $sp-max-width) {
    font-size: 1.6rem;
  }
}

.profile__link {
  margin: 1rem 0 0 0;
}

.profile__list {
  margin: 0.5rem 0 0 0.5rem;
}
