<section class="profile">
  <heading class="profile__title" level="1" text="Profile"></heading>
  <div class="profile__wrapper">
    <div class="profile__detail">
      <section>
        <heading level="2" text="Name"></heading>
        <p class="profile__value">水無瀬</p>
      </section>
      <section>
        <heading level="2" text="Job"></heading>
        <p class="profile__value">Web Developer</p>
      </section>
    </div>
    <div class="profile__detail">
      <section class="profile__link">
        <heading level="2" text="Accounts"></heading>
        <ul-component [itemList]="linkList" class="profile__list" direction="horizontal" size="small"
                      type="icon"></ul-component>
      </section>
    </div>
  </div>
</section>
