<header class="header">
  <heading class="header__title" text="Minase's My Page" level="1" color="white"></heading>
  <nav class="navigation">
    <heading [isHidden]="true" text="Minase's page links"></heading>
    <ul class="navigation__list">
      <li><a class="navigation__link" routerLink="/">
        <heading text="Profile" level="2" color="white"></heading>
      </a></li>
      <li><a class="navigation__link" routerLink="/link">
        <heading text="Link" level="2" color="white"></heading>
      </a></li>
    </ul>
  </nav>
  <div class="header__menu">
    <input id="menu__input" type="checkbox" class="menu__input--none">
    <label class="menu--open" for="menu__input"><span></span></label>
    <label class="menu__input-none menu--close" for="menu__input"></label>
    <div class="menu__content">
      <nav class="menu__navigation">
        <heading [isHidden]="true" text="Minase's page links"></heading>
        <ul class="navigation__list">
          <li class="navigation__item"><a class="navigation__link" routerLink="/">
            <heading text="Profile" level="2" color="white"></heading>
          </a></li>
          <li class="navigation__item"><a class="navigation__link" routerLink="/link">
            <heading text="Link" level="2" color="white"></heading>
          </a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
