@charset "UTF-8";
@import "../../style/variable";

.header {
  background-color: $header-bg-color;
  height: 6.4em;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  margin-bottom: 0.5rem;
}

.navigation {
  width: 100%;
}

.navigation__list {
  margin: 0 0 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navigation__item {
  font-size: 2em;
  font-weight: bold;
}

.navigation__link {
  color: $header-font-color;
  text-align: center;
  text-decoration: none;
  line-height: 3rem;
  display: block;
  width: 20rem;
  height: 3rem;
}
