@charset "UTF-8";
@import "src/app/common/style/variable";

.header {
  background-color: $light-green;
  height: 6.4em;
  width: 100%;
  position: relative;

  &__list {
    margin: 0 0 0 1em;
    position: absolute;
    top: 40%;

    &__item {
      font-size: 2em;
      font-weight: bold;
    }
  }
}
