@charset "UTF-8";
@import "../../style/variable";

.footer {
  background-color: $grey200;
  bottom: 0;
  height: 2rem;
  position: fixed;
  width: 100%;
}

.footer__copyright {
  color: $black;
  display: block;
  font-size: 1.5rem;
  text-align: center;
}

