@charset "UTF-8";
@import "src/app/common/style/variable";

.skill {
  margin: 2rem 0.5rem 0.5rem 0.5rem;

  &__detail {
    background-color: $white;
    border-radius: $radius;
    margin: 0.5rem 0 0 0;
    padding: 1.6rem;

    &__language {
      height: 15rem;
      margin: 0.5rem 0 0 0.5rem;

      &__list {
        display: inline-block;
        margin: 0 0 0 1rem;
        padding: 1rem 0 0 0;
        position: relative;
        transition-duration: .4s;
        transform-style: preserve-3d;

        &__icon {
          position: absolute;
          background-size: cover;
          background-position: 50%;
          backface-visibility: hidden;
          border: solid 0.2rem $black;
          height: 101px;
          width: 101px;

          &--hover {
            background-size: cover;
            background-position: 50%;
            backface-visibility: hidden;
            border: solid 0.2rem $black;
            height: 101px;
            width: 101px;
            transform: rotateY(180deg);

            p {
              font-size: 2rem;
              font-weight: bold;
              line-height: 101px;
              text-align: center;
              width: 101px;
            }
          }

        }

        &:hover {
          transform: rotateY(-180deg);
        }
      }
    }

    &__framework {
      &__frontend__list {
        margin: 0.5rem 0 0 0.5rem;

        &__itrem {
          display: inline;
          margin: 0 0 0 1rem;

          &__icon {
            &:hover {
              visibility: hidden;
              transform: scale(2.0, 2.0);
              transition-duration: 0.3s;
            }

            &--hover {
              display: none;
              height: 101px;
              width: 101px;

              &:hover {
                visibility: visible;
              }
            }
          }
        }
      }

      &__backend__list {
        margin: 0.5rem 0 0 0.5rem;

        &__itrem {
          display: inline;
          margin: 0 0 0 1rem;

          &__icon:hover {
            transform: scale(2.0, 2.0);
            transition-duration: 0.3s;
          }
        }
      }
    }
  }
}
