@charset "UTF-8";
@import "../../../../common/style/variable";

@mixin column {
  margin: 1rem 0 0 1rem;
}

@mixin list {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 0 0;
}

@mixin list-item {
  width: $pc-list-large-icon;
}

@mixin icon {
  border: solid 0.1rem $black;
  height: $pc-list-large-icon;
  width: $pc-list-large-icon;

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    height: $sp-list-large-icon;
    width: $sp-list-large-icon;
  }
}

@mixin paragraph {
  font-size: 2rem;
  font-weight: bold;
  line-height: $pc-list-large-icon;
  text-align: center;
  width: $pc-list-large-icon;

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    font-size: 1.5rem;
    line-height: $sp-list-large-icon;
    width: $sp-list-large-icon;
  }
}

.skill {
  margin: 2rem 0.5rem 0.5rem 0.5rem;
}

.flexWrapper {
  display: flex;
  flex-wrap: wrap;

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    width: 100%;
  }
}

.skill__item {
  @include column;
  @include box;
}

.skill__list {
  @include list;

}

.skill__list__item {
  @include list-item;
}

.skill__icon {
  @include icon;
}

.skill__paragraph {
  @include paragraph;
}
