<section class="skill">
  <!--  <h1>スキル</h1>-->
  <heading text="スキル"></heading>
  <div class="skill__detail">
    <article>
      <!--      <h1>Language</h1>-->
      <heading text="Language" level="2"></heading>
      <ul-component [itemList]="languageList"></ul-component>
    </article>
    <article>
      <!--      <h1>Framework</h1>-->
      <heading text="Framework" level="2"></heading>
      <article>
        <!--        <h1>FrontEnd</h1>-->
        <heading text="FrontEnd" level="3"></heading>
        <ul-component [itemList]="frontendFrameworkList"></ul-component>
      </article>
      <article>
        <!--        <h1>BackEnd</h1>-->
        <heading text="BackEnd" level="3"></heading>
        <ul-component [itemList]="backendFrameworkList"></ul-component>
      </article>
    </article>
  </div>
</section>
