@charset "UTF-8";
@import "../../../../common/style/variable";

@mixin column {
  height: 15rem;
  margin: 0.5rem 0 0 0.5rem;
}

@mixin list {
  display: inline-block;
  margin: 0 0 0 1rem;
  padding: 1rem 0 0 0;
  position: relative;
  transition-duration: .4s;
  transform-style: preserve-3d;
}

@mixin icon {
  position: absolute;
  background-size: cover;
  background-position: 50%;
  backface-visibility: hidden;
  border: solid 0.2rem $black;
  height: $pc-icon-size;
  width: $pc-icon-size;

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    height: $sp-icon-size;
    width: $sp-icon-size;
  }
}

@mixin hover {
  background-size: cover;
  background-position: 50%;
  backface-visibility: hidden;
  border: solid 0.2rem $black;
  height: $pc-icon-size;
  width: $pc-icon-size;
  transform: rotateY(180deg);

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    height: $sp-icon-size;
    width: $sp-icon-size;
  }
}

@mixin paragraph {
  font-size: 2rem;
  font-weight: bold;
  line-height: $pc-icon-size;
  text-align: center;
  width: $pc-icon-size;

  // スマホ用(変更箇所だけ上書き)
  @media screen and (max-width: $sp-max-width) {
    font-size: 1.5rem;
    line-height: $sp-icon-size;
    width: $sp-icon-size;
  }
}

.skill {
  margin: 2rem 0.5rem 0.5rem 0.5rem;
}

.skill__detail {
  background-color: $white;
  border-radius: $radius;
  margin: 0.5rem 0 0 0;
  padding: 1.6rem;
}

.skill__item {
  @include column;
}

.skill__list {
  @include list;

  &:hover {
    transform: rotateY(-180deg);
  }
}

.skill__icon {
  @include icon;
}

.skill__icon--hover {
  @include hover;
}

.skill__paragraph {
  @include paragraph;
}
