@charset "UTF-8";
@import "src/app/common/style/variable";

.links {
  background-color: $links-bg-color;
  border-radius: $radius;
  margin-top: 0.5rem;
  padding: 1.6rem;
}

.links__header {
  display: block;
  margin-bottom: 1rem;
}

.links__list {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
