@charset "UTF-8";
@import "app/common/style/reset";
@import "app/common/style/variable";


html {
  background-color: $light-blue;
  color: $black;
  font-size: $font-size;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
